* {
  margin: 0;
  padding: 0px;
  box-sizing: box-sizing;
  
  
}

body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 min-height: 100vh;
 object-fit: cover;
}
img {
  width: 45px;
  height: 45px;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 0px 2px 13px #5607ab;
  border: 1px solid #5607ab;
}
nav  {
  background: #050b30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  box-shadow: 0px 2px 15px #5607ab;
}
nav ul {
  list-style: none;
}
nav ul li h1 {
  font-weight: 10000;
  font-family: Monospace;
  color: white;
}



/* WRAPPER: CENTER LAYAR */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */
.card {
  width: 90%;
  max-width: 340px;
  background: rgba(0, 0, 0, 0.55);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 15px #5607ab;
  border: 1px solid rgba(86, 7, 171, 0.6);
  text-align: center;
}

/* JUDUL */
.card h1 {
  color: violet;
  margin-bottom: 10px;
  font-family: Monospace;
  text-shadow: 2px 2px 14px #5607ab;
  font-size: 30px;
  letter-spacing: 6px;
}
.card p {
  color: grey;
}

/* FORM */
.card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* INPUT & TEXTAREA */
.card input,
.card textarea {
  width: 100;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  background: rgba(20, 20, 35, 0.9);
  color: white;
  border: 1px solid #5d0fbd;
  box-shadow: 1px 1px 15px #5d0fbd;
}

/*

/* BUTTON */
.card button  {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #5607ab;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  display: flex;
  font-family: Monospace;
}

.card button:active {
  opacity: 0.8;
}
label {
  color: white;
}
.copyright{
  position: fixed;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  pointer-events: none;
}
#loading-screen{
  position: fixed;
  inset: 0;
  background: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner{
  width: 48px;
  height: 48px;
  border: 6px solid white;
  border-top-color: #111827;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin { to { transform: rotate(360deg); } }
